<html>
	<head>
		<title> My profile </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	</head>
	<body>

    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" href="#">
      <img src="./bckg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Fake
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vpost">All posts</a>
          </li>
        </ul>
        <ul class="nav-item navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/">Log out</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>







    <h1> Welcome back <%=user.username%>.</h1>
      <a href="/logout">Click here to log out</a>
      <a href="/vpost">Click here to view all posts</a>
      <form method="post">
        <p id="ptitle">Title</p>
        <input type="text" id="title" placeholder="Write something.." required maxlength="20" name="title" autocomplete="off">
        <p id="pmessage">Message</p>
        <textarea rows="5" columns="10" type="text" id="textinput"  required placeholder="Write something.."  maxlength="1000" name="body" autocomplete="off"></textarea>
        <input type="submit" id="button" value="Submit">
        <!-- <button id="button" type="button">Click Me!</button> -->
      </form>
        <% for(let i=0;i<order.length;i++){%>
        <p>Title  <%=order[i].title %></p>
          <br>
          <br>
        <p>Body  <%=order[i].body %></p>

          <br>
        <%}%>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
    </html>
