<html>
	<head>
		<title> My profile </title>
	</head>
	<body>
    <h1> Welcome back </h1>
      <a href="/logout">Click here to log out</a>
      <a href="/addpost">Click here to add post</a>
      <a href="/vpost">Click here to view all posts</a>

    </body>
    </html>
