<html>
	<head>
		<title> Sign up page </title>
	</head>
	<body>
    <a href="/">Sign in</a>
    <a href="#">Sign up</a>
		<form action='/signup', method='POST', autocomplete='off' id='form'>
		  <label>Choose a username </label>
		  <br>
		  <input type='text', name='username', placeholder="name">
		  <br>
		  <label>Choose an email</label>
		  <br>
		  <input type='text', name='email', placeholder="email">
		  <br>
		  <label>Choose a password</label>
		  <br>
		  <input type='password', name='password', placeholder="Password">
		   <br>
		   <br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>
