<html>
	<head>
		<title> Homepage </title>
	</head>
	<body>
    <a href="#">Sign in</a>
    <a href="/signup">Sign up</a>
		<form action='/', method='POST', autocomplete='off'>
		  <label>E-mail:</label>
		  <br>
		  <input type='text', name='email', placeholder="email">
		  <br>
		  <label>Password</label>
		  <br>
		  <input type='password', name='password', placeholder="password">
		   <br>
		   <br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>
