<html>
	<head>
		<title> All Posts </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body class="background">

    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #b5cee9;">
      <div class="container">
        <a class="navbar-brand" href="#">
      <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Fakebook
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/myprofile/:id">Profile </a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" href="#">All posts<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="nav-item navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/">Log out</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

<div class="space1"></div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-1">
      <%posts.forEach(posts => {%>
        <div class="color2">
          <div class="form-group">
            <h4 class="labelpush"><%=posts.title %></h4>
            <!-- <p>Title: <%= posts.title %></p> -->
          </div>
          <div class="form-group">
            <p><%= posts.body %></p>
          </div>
          <div align="center">
            <a class="badge badge-info" href="vpost/<%=posts.id%>">Read full post and comments</a>
          </div>
        </div>
            <% }) %>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>

  </div>
</div>

<div class="bot" align="center">
  <a class="badge badge-dark" href="vpost">To top </a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</div>
</body>
</html>
