<html>
	<head>
		<title> View Posts </title>
	</head>
	<body>
    <%posts.forEach(posts => {%>
        <p>Title: <%= posts.title %></p>
        <p>Message: <%= posts.body %></p>
        <a href="vpost/<%=posts.id%>">Read More</a>
        <% }) %>
</div>
</body>
